.wrapper {
    display: block;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.header {
    background-color: #f4f5f6;
    padding-top: 1rem;
}
.header .container {
    border-top: 0;
    padding-bottom: 7.5rem;
    padding-top: 7.5rem;
    position: relative;
    text-align: center;
}
.wrapper .container {
    max-width: 80rem;
}
.wrapper>.container {
    padding-bottom: 3.5rem;
    padding-top: 7.5rem;
}