<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>山田Github Pages</title>

        <meta name="description" content="@yamacraftのGitHub Pages">
        <meta name="author" content="yamacraft" >
        <meta name="robots" content="index,follow" >

        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/ico-144.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/ico-114.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72"   href="ico/ico-72.png">
        <link rel="apple-touch-icon-precomposed" href="ico/ico-57.png">
        <link rel="shortcut icon" href="ico/ico-57.png">

        <link rel="stylesheet" href="css/kube.min.css" />
        <link rel="stylesheet" href="css/font-awesome.min.css" />
        <style type="text/css">
            body {
                padding: 20px;
            }
        </style>

        <script type="text/javascript" src="https://www.google.com/jsapi"></script>

        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-resource.min.js"></script>

        <script type="text/javascript" src="js/feed.js"></script>

    </head>

    <body>
        <div class="units-row">
            <div class="unit-100">
                <h1>山田Github Pages</h1>
                <h2>account</h2>
                <ul>
                    <li><a target="_blank" href="https://github.com/yamacraft"><i class="fa fa-github-square fa-3x"></i> Github</a></li>
                    <li><a target="_blank" href="https://plus.google.com/116503805189192672149/"><i class="fa fa-google-plus-square fa-3x"></i> Google+</a></li>
                    <li><a target="_blank" href="https://twitter.com/yamacraft"><i class="fa fa-twitter fa-3x"></i> twitter</a></li>
                    <li><a target="_blank" href="https://www.facebook.com/yamacraft"><i class="fa fa-facebook-square fa-3x"></i> Facebook</a></li>
                    <li><a target="_blank" href="http://yamacraft2.exblog.jp/"><i class="fa fa-pencil fa-3x"></i> Blog</a></li>
                    <li><a target="_blank" href="http://qiita.com/yamacraft"><i class="fa fa-android fa-3x"></i> Qiita</a></li>
                </ul>

                <h2>create</h2>
                <ul>
                    <li><a href="./atndbeta_search/">ATND beta検索</a></li>
                </ul>
                <h2>slide</h2>
                <ul>
                    <li><a href="./slide_adt_gradle/">ADTでGradle</a></li>
                    <li><a href="./slide_android_display/">最近のandroid端末の解像度、知ってますか？</a></li>
                </ul>
            </div>
        </div>

        <div class="units-row" ng-app='feedModule'>
            <div class="unit-100" ng-controller='FeedCtrl'>
                <h2>Rss</h2>
                <div ng-repeat="feed in feeds | orderBy:'title'">
                    <h3><a href="{{feed.link}}" target="_blank">{{feed.title}}</a></h3>
                    <p><span ng-repeat="item in feed.entries">
                        <a href="{{item.link}}" target="_blank">{{item.title}}</a> (<span>{{item.publishedDate | date:'d-MM-yyyy HH:mm'}}</span>)<br />
                    </span></p>
                </div>
            </div>
        </div>

        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-49508140-1', 'yamacraft.github.io');
            ga('send', 'pageview');
        </script>
    </body>

</html>
