<!DOCTYPE html>
<html ng-app>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>ATND beta検索</title>

		<meta name="description" content="ATND betaの超簡易検索">
		<meta name="author" content="yamacraft" >
		<meta name="robots" content="index,follow" >
		
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
		<script type="text/javascript" src="js/atndbeta_search.js"></script>

		<link rel="stylesheet" href="css/kube.min.css" />
		<style type="text/css">
			body {
				padding: 20px;
			}
		</style>

	</head>
	<body ng-controller="AtndbetaSearchCtrl">

		<form class="navbar-search pull-left forms" ng-submit="doSearch()">
			<label>
				検索ワード
				<input type="text" class="search-query" placeholder="search" ng-model="query"/>
			</label>
			<label>
				検索サイズ
				<select ng-model="size" ng-options="s.name for s in sizes">
					<option value="">-- chose size --</option>
				</select>
			</label>
			<label>
				P数
				<select ng-model="page" ng-options="p.name for p in pages">
					<option value="">-- chose page --</option>
				</select>
			</label>
			<p>
				<button class="btn btn-green" type="submit">検索</button>
			</p>
		</form>

		<hr>
		<p ng-if="!!loading">検索中..</p>

		<table class="table-bordered width-100">
			<tr>
				<th class="width-25">タイトル</th>
				<th class="width-20">開催日</th>
				<th class="width-10">開催場所</th>
				<th class="width-10">詳細</th>
				<th class="width-15">定員／現在（補欠）</th>
				<th class="width-10">オーナー</th>
				<th class="width-10">URL</th>
			</tr>

			<tr ng-repeat="result in results">
				<td>{{result.title}}<br>{{result.catch}}</td>
				<td>{{result.started_at | date:'yy年M月d日 HH:mm' }}</td>
				<td><span ng-if="!!result.place">{{result.place}}<span ng-if="!!result.address">({{result.address}})</span></span></td>
				<td><a href="{{result.event_url}}" target="_blank"><img src="img/external-link-32.png"></a></td>
				<td>
					<span ng-if="!!result.limit">{{result.limit}}／{{result.accepted}}（+{{result.waiting}}）</span>
					<span ng-if="!result.limit">-</span>
				</td>
				<td>
					<a href="http://atnd.org/users/{{result.owner_id}}" target="_blank">{{result.owner_nickname}}</a><br>
					<a href="https://twitter.com/{{result.owner_twitter_id}}" target="_blank" ng-if="!!result.owner_twitter_id">
						<img src="{{result.owner_twitter_img}}" width="32"><br>@{{result.owner_twitter_id}}
					</a>
				</td>
				<td><a href="{{result.url}}" target="_blank" ng-if="!!result.url"><img src="img/link-32.png"></a></td>
			</tr>
		</table>

		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-49508140-1', 'yamacraft.github.io');
			ga('send', 'pageview');
		</script>
	</body>
</html>
