{{ define "main" }}

      <section class="container">
          <h3 class="title" id="whats_you">what's yamacraft</h3>
          <p>
            yamacraft、もしくは山田航空という名称で活動しています。<br>
            仕事では主にAndroidアプリケーション開発、それ以外ではいろいろとモノづくりなどやっています。<br>
            フリーランスです（正しくは一人社長で<a href="https://yamadajirushi.co.jp/">会社</a>を窓口に仕事を請けています）。
          </p>
          <p>
            <a href="/profile/">詳細なプロフィールページ</a>
          </p>
      </section>

      <section class="container">
        <h3 class="title" id="recent_state">recent state</h3>
        <p>
          本業に関する依頼は、<a href="https://yamadajirushi.co.jp/">合同会社ヤマダ印</a>にて受け付けています。<br>
          副業に関しては、<a href="/detail-second-job">こちらのページ</a>にて詳細をまとめています。<br>
          yamacraft個人に向けた連絡は、<a href="https://twitter.com/yamacraft">Twitter</a>にてご連絡ください。<br>
        </p>
        <ul>
          <li>【本業（平日の日中）】現在募集しておりません。</li>
          <li>【副業（平日夜間（19時以降）/土曜の午後】現在募集しておりません。</a></li>
        </ul>
      </section>

      <section class="container">
        <h3 class="title" id="account">account</h3>
        <ul>
          <li><a href="https://github.com/yamacraft">GitHub</a></li>
          <li><a href="https://twitter.com/yamacraft">Twitter</a></li>
          <li><a href="/note/">Blog（山田航空ネットワーク3rd）</a></li>
          <li><a href="https://www.youtube.com/@yamacraft">YouTube（@yamacraft）</a></li>
          <li><a href="https://www.facebook.com/yamacraft">Facebook</a></li>
          <li><a href="https://speakerdeck.com/yamacraft/">Speakerdeck</a></li>
          <li><a href="https://yamacraft2.exblog.jp/"><s>Blog（山田航空ネットワーク2nd）</s></a></li>
          <li><a href="https://qiita.com/yamacraft"><s>Qiita</s></a></li>
          <li><a href="https://jp.linkedin.com/in/yamacraft"><s>LinkedIn</s></a></li>
        </ul>
      </section>

      <section class="container">
        <h3 class="title" id="article">latest article</h3>
        <ul class="latest_blog_article"></ul>
        <p>
          <a href="/note/">and more...</a>
        </p>
      </section>

      <section class="container">
        <h3 class="title" id="curriculum_vitae">curriculum vitae</h3>
          <p>
            スキルセット・職務経歴書はGitHubのリポジトリ上で公開しています。また、印刷用のPDFファイルも合わせて公開しています。
          </p>
          <ul>
            <li><a href="https://github.com/yamacraft/cv/blob/master/cv.md">yamacraft/cv: Curriculum Vitae</a></li>
            <li><a href="https://yamacraft-cv.firebaseapp.com/">https://yamacraft-cv.firebaseapp.com/</a></li>
          </ul>
      </section>

      <section class="container">
        <h3 class="title" id="product">product(private)</h3>
        <p>個人で開発していたプロダクトは、<a href="https://yamaglo.jp/">ヤマグロ</a>という合同会社ヤマダ印のプロダクトブランドとして運用しています。</p>
      </section>

      <section class="container">
        <h3 class="title" id="other">Other</h3>
        <ul>
          <li><a href="/textar-font/">textar-font(temporary)</a></li>
          <li><a href="/grants/">ヤマグロへの支援について</a></li>
        </ul>
      </section>

      <section class="container">
        <h3 class="title" id="contact">contact</h3>
        <p>
          仕事関係は<a href="https://yamadajirushi.co.jp/contact/">ヤマダ印の問い合わせフォーム</a>、それ以外はTwitterかFacebookからご連絡ください。<br>
          Facebookはメッセージリクエストの通知が飛んでこないことが多いため、Twitterからのご連絡をおすすめします。
        </p>
        <p><a href="/contact/">連絡手段の詳細について</a></p>
      </section>

{{ end }}